@import 'reset.css';
@import 'root.css';
@import 'fonts.css';
.section-06__paragraph, .section-04__paragraph, .section-03__paragraph, .section-01__paragraph, .search__input, .header__card-paragraph {
  font-family: var(--dr);
  font-size: 1.125rem;
}

.burger__link {
  font-family: var(--db);
  font-size: 1.125rem;
}

.title_number_01 {
  font-family: var(--db);
  font-size: 3.125rem;
  line-height: 1.5em;
  color: var(--blue-background);
}
.title_number_02 {
  font-family: var(--db);
  font-size: 2.625rem;
  line-height: 1.19em;
}

html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

body._screen.lock {
  padding-right: 17px;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.container-2 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.container-3 {
  width: 80vw;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
}
@media (max-width: 1024px) {
  .container-3 {
    width: 100%;
    padding: 0 28px;
    flex: 1 1 auto;
  }
}
@media (max-width: 900px) {
  .container-3 {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .container-3 {
    justify-content: flex-start;
  }
}

.header {
  overflow: hidden;
  height: 100vh;
  background: url("../img/webp/image-01.webp") center/cover no-repeat;
  position: relative;
}
@media (max-width: 900px) {
  .header {
    height: 300%;
  }
}
@media (max-width: 768px) {
  .header {
    height: 185%;
  }
}
@media (max-width: 600px) {
  .header {
    height: 180%;
  }
}
.header__shadow {
  width: 100%;
  height: 100%;
  background: linear-gradient(193deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.29) 100%);
  position: absolute;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .header__shadow {
    padding: 48px 30px;
  }
}
.header .nav {
  display: flex;
  column-gap: 5%;
  padding: 28px;
}
@media (max-width: 900px) {
  .header .nav {
    padding: 0px;
  }
}
.header .nav__menu {
  display: flex;
  flex: 0 1 78%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .header .nav__menu {
    flex: 0 0 0;
  }
}
.header .nav__links {
  display: flex;
  column-gap: 20%;
}
.header .nav__link {
  display: block;
  color: var(--white);
  font-family: var(--db);
  font-size: 1.125rem;
  text-transform: uppercase;
}
.header .nav__icons {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 1024px) {
  .header .nav__icons {
    justify-items: flex-end;
  }
}
@media (max-width: 600px) {
  .header .nav__icons {
    column-gap: 30px;
  }
}
.header .nav__seacrh {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.header .nav__burger-icon {
  z-index: 5;
  width: 18px;
  height: 12px;
  position: relative;
  z-index: 4;
}
.header .nav__burger-icon span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header .nav__burger-icon::before, .header .nav__burger-icon::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background: var(--white);
  position: absolute;
  left: 0;
}
.header .nav__burger-icon::before {
  top: 0;
}
.header .nav__burger-icon::after {
  bottom: 0;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
}
@media (max-width: 900px) {
  .header__content {
    display: block;
    margin: 62px 0;
    flex: unset;
  }
}
.header__title {
  color: var(--white);
  font-family: var(--rb);
  font-size: 7.5rem;
  line-height: 1.08em;
  text-transform: uppercase;
  max-width: 627px;
  width: 100%;
}
@media (max-width: 1400px) {
  .header__title {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  .header__title {
    font-size: 3.6345rem;
  }
}
.header__btn {
  max-width: 271px;
  width: 100%;
  margin-top: 21px;
  font-size: 1.25rem;
}
.header__extraInfo {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 900px) {
  .header__extraInfo {
    align-items: center;
    flex-direction: column;
  }
}
.header__card {
  flex: 0 1 409px;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px calc(35px + 35 * (100vw - 425px) / 1495);
}
@media (max-width: 1024px) {
  .header__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .header__card {
    flex: 0 1 auto;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .header__card {
    padding: 30px;
  }
}
.header__card_video {
  height: 100%;
  padding: 0px;
}
.header__card_video video {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.header__card-number {
  display: inline-block;
  color: var(--main-red);
  font-family: var(--rb);
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.header__card-title {
  color: var(--white);
  font-family: var(--db);
  font-size: 1.65rem;
  line-height: 1.5555em;
}
.header__card-paragraph {
  color: var(--c6);
  line-height: 1.5555em;
  letter-spacing: 0.0277em;
  max-width: 210px;
  width: 100%;
}
.header__massengers {
  display: flex;
  column-gap: 40px;
  transform: rotate(-90deg);
  position: absolute;
  left: -30px;
  bottom: 100px;
}
.header__massenger {
  color: var(--white);
  font-family: var(--db);
  font-size: 1rem;
  transition: all 0.3s linear 0s;
}
body._screen .header__massenger:hover {
  color: var(--main-red);
}

.burger {
  position: fixed;
  width: 100vw;
  height: 100%;
  background: rgba(1, 10, 32, 0.4);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in 0.3s;
}
.burger__content {
  width: 20%;
  height: 100%;
  background: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  padding: 2% 4%;
  display: flex;
  transform: translateX(100%);
  transition: all 0.3s ease-in 0s;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .burger__content {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .burger__content {
    width: 60%;
  }
}
@media (max-width: 550px) {
  .burger__content {
    width: 100%;
  }
}
.burger__links {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 600px) {
  .burger__links {
    row-gap: 35px;
  }
}
.burger__link {
  text-transform: uppercase;
  font-size: 20px;
  color: var(--main-red);
}
.burger.active {
  transition: all 0.3s ease-in 0s;
  opacity: 1;
  visibility: visible;
}
.burger.active .burger__content {
  transition: all 0.4s ease-in 0.3s;
  transform: translateX(0);
}
.burger__close {
  position: absolute;
  top: 3%;
  right: 10%;
}
.burger__massengers {
  transform: rotate(0deg);
  position: static;
}
.burger__massenger {
  color: var(--main-red);
  font-size: 1.5rem;
}

.closeBtn {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.closeBtn::before, .closeBtn::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background: var(--blue-background);
}
.closeBtn::before {
  transform: rotate(45deg);
}
.closeBtn::after {
  transform: rotate(-45deg);
}

.search__input {
  display: block;
  color: var(--blue-background);
  opacity: 0.6;
  transition: all 0.5s linear 0s;
  width: 0;
  height: 30px;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .search__input {
    height: 15px;
  }
}
.search.active .search__input {
  width: 300px;
  padding: 20px 10px;
}
@media (max-width: 600px) {
  .search.active .search__input {
    width: 100px;
    padding: 15px 10px;
  }
}

.logo {
  display: flex;
  align-items: flex-end;
  column-gap: 7px;
}
@media (max-width: 600px) {
  .logo {
    transform: scale(0.9);
  }
}
.logo__title {
  font-family: var(--rb);
  font-size: 1.715rem;
  line-height: 0.792em;
  letter-spacing: 0.013em;
  color: var(--white);
}

.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  background: var(--white);
  border-radius: 50%;
  padding: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid var(--black);
  border-bottom: 10px solid transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video::after, .video::before {
  user-select: all;
  transition: all 0.5s linear 0s;
}
.video.video__state_playing::after, .video.video__state_playing::before {
  opacity: 0;
  user-select: none;
}
.video.section-05__video::before {
  background: var(--action-third);
  padding: 40px;
}
@media (max-width: 768px) {
  .video.section-05__video::before {
    padding: 30px;
  }
}
.video.section-05__video_end::before {
  background: none;
}
.video.section-05__video::after {
  border-top: 8px solid transparent;
  border-left: 15px solid var(--white);
  border-bottom: 8px solid transparent;
}

.section__background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section__background {
  position: relative;
  width: 100%;
}

.section-01 {
  background: var(--blue-background);
}
.section-01__shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section-01__shadow_start {
  background: linear-gradient(0deg, #010A20 0%, rgba(1, 10, 32, 0) 100%);
}
.section-01__shadow_end {
  background: linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0) 100%);
}
.section-01__background {
  height: 100%;
}
.section-01__background-img {
  opacity: 0.1;
}
.section-01__start {
  justify-content: flex-end;
  padding-bottom: 97px;
}
.section-01__end {
  padding-top: 97px;
  justify-content: flex-start;
}
@media (max-width: 900px) {
  .section-01__end .section-01__content {
    flex-direction: column-reverse;
  }
}
.section-01__wrapper {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .section-01__wrapper {
    padding: 0px;
    justify-content: center;
    height: 700px;
  }
}
@media (max-width: 600px) {
  .section-01__wrapper {
    height: 650px;
  }
}
.section-01__content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 50%;
  padding: 0 28px;
  column-gap: 32px;
}
@media (max-width: 900px) {
  .section-01__content {
    padding: 28px;
    flex-wrap: wrap;
    max-width: unset;
    row-gap: 33px;
    height: unset;
  }
}
.section-01__info {
  max-width: 400px;
  width: 100%;
  align-self: center;
}
@media (max-width: 900px) {
  .section-01__info {
    max-width: unset;
  }
}
.section-01__paragraph {
  line-height: 1.555em;
  color: var(--text-lighten);
  margin: 15px 0 32px 0;
}
.section-01__title {
  color: var(--white);
}
.section-01__btn {
  position: static;
  max-width: 200px;
  width: 100%;
}
@media (max-width: 500px) {
  .section-01__btn {
    width: 100%;
    max-width: none;
  }
}
.section-01__content-img {
  width: 50%;
  border-radius: 10px;
  object-fit: cover;
}
@media (max-width: 900px) {
  .section-01__content-img {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 600px) {
  .section-01__content-img {
    height: 232px;
  }
}

.section-02 {
  background: url("../img/webp/image-11.webp") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  row-gap: 886px;
}
.section-02__title {
  text-align: center;
}
.section-02__content {
  margin-top: calc(45px + 82 * (100vw - 425px) / 1495);
}

.section-03 {
  background: rgba(2, 12, 33, 0.9);
  color: var(--white);
  height: 794px;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .section-03 {
    padding: 30px 0;
  }
}
.section-03__title {
  text-align: center;
  color: var(--white);
  margin-bottom: 10px;
}
.section-03__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 39px;
}
@media (max-width: 600px) {
  .section-03__content {
    row-gap: 49px;
  }
}
.section-03_position_end {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 1110px) {
  .section-03_position_end {
    justify-content: center;
    gap: 22px 10px;
  }
}
@media (max-width: 710px) {
  .section-03_position_end {
    gap: 43px 0px;
  }
}
.section-03_position_start .section-03__paragraph {
  max-width: 480px;
  width: 100%;
}
.section-03__info {
  max-width: 350px;
  width: 100%;
}
.section-03 .section-03__info .section-03__paragraph {
  max-width: 484px;
  width: 100%;
}
.section-03__paragraph {
  line-height: 1.555em;
  letter-spacing: 0.02777em;
  text-align: center;
}
.section-03__sub-title {
  color: var(--main-red);
  text-align: center;
  font-family: var(--db);
  font-size: 2.6335625rem;
  line-height: 1.1666em;
  letter-spacing: 0.009em;
  margin-bottom: 18.89px;
}

.section-04 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50px 30px;
  overflow: hidden;
}
@media (max-width: 500px) {
  .section-04 {
    height: 110%;
  }
}
@media (max-width: 500px) {
  .section-04 {
    height: 120%;
  }
}
.section-04__img {
  width: 100%;
  position: absolute;
  transform: scale(0.8);
}
.section-04__img:nth-of-type(1) {
  top: -90%;
  left: -75%;
  animation: rotate 50s linear infinite;
}
@media (max-width: 600px) {
  .section-04__img:nth-of-type(1) {
    top: -70%;
    left: -70%;
  }
}
@media (max-width: 500px) {
  .section-04__img:nth-of-type(1) {
    top: -50%;
    left: -50%;
  }
}
@media (max-width: 400px) {
  .section-04__img:nth-of-type(1) {
    top: -45%;
    left: -45%;
  }
}
.section-04__img:nth-of-type(2) {
  bottom: -90%;
  right: -75%;
  animation: rotate 50s linear infinite;
}
@media (max-width: 600px) {
  .section-04__img:nth-of-type(2) {
    bottom: -70%;
    right: -70%;
  }
}
@media (max-width: 500px) {
  .section-04__img:nth-of-type(2) {
    bottom: -50%;
    right: -50%;
  }
}
@media (max-width: 400px) {
  .section-04__img:nth-of-type(2) {
    bottom: -45%;
    right: -45%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section-04__paragraph {
  max-width: 400px;
  width: 100%;
  color: var(--paragraph-dark);
  line-height: 1.5555em;
  margin: 32px 0 36px 0;
}
@media (max-width: 600px) {
  .section-04__paragraph {
    max-width: none;
    margin: 36px 0 41px 0;
  }
}
.section-04__title {
  max-width: 600px;
}
@media (max-width: 600px) {
  .section-04__title {
    font-size: 2.5rem;
    line-height: 1.15em;
  }
}
.section-04__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.section-04__btn {
  max-width: 210px;
  width: 100%;
}

.section-05 {
  background: url("../img/webp/image-13.webp") center/cover no-repeat;
  color: var(--white);
  height: 1476px;
  display: flex;
  align-items: center;
  position: relative;
}
.section-05::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(1, 10, 32, 0.7);
}
.section-05 > div {
  z-index: 2;
  position: relative;
}
.section-05__title {
  text-align: center;
  color: var(--white);
  line-height: 1.19em;
}
.section-05__end {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .section-05__end {
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }
}
.section-05__info {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 768px) {
  .section-05__info {
    flex-direction: column;
    text-align: center;
    row-gap: 40px;
    width: 100%;
  }
}
.section-05__video {
  margin: 70px 0 125px 0;
}
@media (max-width: 768px) {
  .section-05__video {
    margin: 40px 0;
  }
}
.section-05__video video {
  border-radius: 10px;
  max-height: 594px;
  width: 100%;
  object-fit: cover;
}
.section-05__video_end {
  width: 233px;
  margin: 0px;
}
@media (max-width: 768px) {
  .section-05__video_end {
    width: 100%;
  }
}
.section-05__video_end video {
  border-radius: 5px;
  height: 151px;
  width: 100%;
}
.section-05__subtitle {
  font-family: var(--db);
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 15px;
}
.section-05__paragraph {
  font-family: var(--dr);
  font-size: 1rem;
  letter-spacing: 0.02777em;
  line-height: 1.5555em;
  max-width: 334px;
  width: 100%;
}

.section-06 {
  min-height: 1383px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1024px) {
  .section-06 {
    padding: 40px 0;
  }
}
.section-06__paragraph {
  line-height: 1.55em;
  color: var(--paragraph-dark);
  letter-spacing: 0.01em;
  max-width: 511px;
  width: 100%;
  text-align: center;
}
.section-06__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 41.83px;
  margin-bottom: 71px;
}
@media (max-width: 768px) {
  .section-06__info {
    margin-bottom: 40px;
    row-gap: 20px;
  }
}
.section-06__gallary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 210px);
  gap: 30px;
}
@media (max-width: 1024px) {
  .section-06__gallary {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 210px);
  }
}
@media (max-width: 600px) {
  .section-06__gallary {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 300px);
  }
}
.section-06__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.section-06__item:nth-of-type(6n + 1) {
  grid-row: span 3;
}
@media (max-width: 1024px) {
  .section-06__item:nth-of-type(6n + 1) {
    grid-row: span 2;
  }
}
.section-06__item:nth-of-type(6n+2) {
  grid-row: span 1;
}
.section-06__item:nth-of-type(6n+3) {
  grid-row: span 2;
}
.section-06__item:nth-of-type(6n+4) {
  grid-row: span 3;
}
@media (max-width: 1024px) {
  .section-06__item:nth-of-type(6n+4) {
    grid-row: span 2;
  }
}
.section-06__item:nth-of-type(6n+5) {
  grid-row: span 2;
}
.section-06__item:nth-of-type(6n+6) {
  grid-row: span 1;
}
@media (max-width: 600px) {
  .section-06__item {
    grid-row: span 1 !important;
  }
}

.section-07 {
  background: #DCE8F2;
  min-height: 1432px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .section-07 {
    text-align: center;
    padding: 45px 0;
  }
}
.section-07__content {
  display: flex;
  flex-direction: column;
  row-gap: 94px;
  margin-top: 44px;
}
@media (max-width: 768px) {
  .section-07__content {
    row-gap: 50px;
  }
}
@media (max-width: 600px) {
  .section-07__content {
    row-gap: 32px;
  }
}
.section-07__block {
  display: flex;
  column-gap: 44.02px;
}
@media (max-width: 768px) {
  .section-07__block {
    flex-direction: column;
    align-items: center;
    row-gap: 26px;
  }
}
.section-07__subtitle {
  color: var(--blue-background);
  font-family: var(--db);
  font-size: 1.467rem;
  line-height: 1.555em;
  margin-bottom: 28.13px;
}
@media (max-width: 768px) {
  .section-07__subtitle {
    margin-bottom: 5px;
  }
}
.section-07__paragraph {
  font-family: var(--dr);
  color: var(--light-text);
  font-size: 1.304rem;
  line-height: 1.624em;
}
.section-07__number {
  display: inline-block;
  text-align: center;
  color: var(--white);
  font-family: var(--dm);
  font-size: 1.467rem;
  line-height: 1.444em;
  background: var(--main-red);
  padding: 12px 24px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.section-07__start {
  position: relative;
}
.section-07__start::after {
  content: "";
  display: block;
  width: 3px;
  height: 120%;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  background: rgba(21, 20, 57, 0.4);
}
@media (max-width: 768px) {
  .section-07__start::after {
    display: none;
  }
}
.section-07__block:first-child .section-07__start::after {
  height: 150%;
}
.section-07__block:last-child .section-07__start::after {
  display: none;
}
.section-07__video {
  width: 249.419px;
  height: 165.79px;
}
@media (max-width: 768px) {
  .section-07__video {
    width: 70%;
    height: 300px;
  }
}
@media (max-width: 550px) {
  .section-07__video {
    width: 100%;
    height: 208px;
  }
}
.section-07__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-07__extraBlock {
  display: flex;
  align-items: center;
  column-gap: 45px;
  margin-top: 93px;
}
@media (max-width: 768px) {
  .section-07__extraBlock {
    flex-direction: column;
    row-gap: 40px;
  }
}
.section-07__extraBlock p {
  max-width: 446px;
  width: 100%;
}
.section-07__extraBlock .section-07__subtitle {
  margin-bottom: 12.19px;
}
.section-07__btn {
  margin-top: 16.95px;
  max-width: 210px;
  width: 100%;
}
@media (max-width: 768px) {
  .section-07__btn {
    margin-top: 25px;
  }
}

.footer {
  background: var(--blue-background);
  padding: 40px 0;
  position: relative;
}
.footer .logo span {
  color: var(--main-red);
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}
@media (max-width: 800px) {
  .footer__content {
    flex-direction: column;
    row-gap: 36px;
  }
}
.footer__right {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .footer__right {
    flex-direction: column;
    row-gap: 36px;
  }
}
.footer__list {
  display: flex;
  column-gap: 36px;
}
@media (max-width: 900px) {
  .footer__list {
    column-gap: 20px;
  }
}
@media (max-width: 800px) {
  .footer__list {
    column-gap: 36px;
  }
}
@media (max-width: 600px) {
  .footer__list {
    flex-direction: column;
    row-gap: 36px;
    align-items: center;
  }
}
.footer__link {
  color: var(--white);
  font-family: var(--db);
  font-size: 1rem;
  line-height: 1.555em;
  letter-spacing: 0.0277em;
  transition: all 0.4s linear 0.3s;
  user-select: none;
}
.footer__link:hover {
  color: var(--main-red);
}
@media (max-width: 768px) {
  .footer__link {
    font-size: 1.277rem;
    letter-spacing: 0.05em;
  }
}
.footer__extraLinks {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
@media (max-width: 900px) {
  .footer__extraLinks {
    column-gap: 20px;
  }
}
@media (max-width: 800px) {
  .footer__extraLinks {
    flex-direction: column;
    row-gap: 36px;
  }
}
.footer__messangers {
  display: flex;
  align-items: center;
  column-gap: 22px;
}
.footer .goToStart {
  display: block;
  width: 50px;
  height: 50px;
  background: var(--main-red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25%;
  right: 5%;
}
@media (max-width: 800px) {
  .footer .goToStart {
    top: -25px;
  }
}
.footer .goToStart__span {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer .goToStart__span::before, .footer .goToStart__span::after {
  content: "";
  display: block;
  width: 15px;
  border-radius: 30px;
  height: 3px;
  position: absolute;
  background: var(--white);
}
.footer .goToStart__span::before {
  transform: translate(5px, 0px) rotate(45deg);
}
.footer .goToStart__span::after {
  transform: translate(-5px, 0px) rotate(-45deg);
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__block {
  overflow: hidden;
}
.slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
  margin: 44px 0 28px 0;
  width: 100%;
}
@media (max-width: 1024px) {
  .slider__wrapper {
    column-gap: 30px;
  }
}
@media (max-width: 768px) {
  .slider__wrapper {
    column-gap: 15px;
  }
}
.slider__indicatros {
  display: flex;
  column-gap: 16px;
  margin: 0 auto;
}
.slider__indicator {
  display: block;
  width: 19px;
  height: 19px;
  background: var(--grey-reduced);
  border-radius: 50%;
  transition: all 0.5s ease 0s;
}
.slider__indicator.active {
  background: var(--main-red);
}
.slider__track {
  display: flex;
  column-gap: 31px;
  max-width: 1200px;
  width: 100%;
  transition: all 0.8s ease 0s;
}
.slider__item {
  min-width: 33.33%;
  height: 200px;
  user-select: none;
  pointer-events: none;
}
.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.button {
  display: inline-block;
  text-align: center;
  color: var(--white);
  font-family: var(--db);
  font-size: 1.125rem;
  line-height: 1.5em;
  background: var(--main-red);
  border-radius: 211px;
  padding: 20px;
}
@media (max-width: 500px) {
  .button {
    max-width: none;
  }
}
body._screen .button__animation_redBorder {
  transition: all 0.3s linear 0.3s;
  overflow: hidden;
  position: relative;
  padding: 10px 5px;
}
body._screen .button__line {
  display: block;
  position: absolute;
}
body._screen .button__line_1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--main-red));
}
body._screen .button__line_2 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--main-red));
}
body._screen .button__line_3 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, var(--main-red));
}
body._screen .button__line_4 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--main-red));
}
body._screen .button__animation_redBorder:hover .button__line_1 {
  left: 100%;
  transition: all 0.5s linear 0.5s;
}
body._screen .button__animation_redBorder:hover .button__line_2 {
  right: 100%;
  transition: all 0.5s linear 0.5s;
}
body._screen .button__animation_redBorder:hover .button__line_3 {
  bottom: 100%;
  transition: all 0.5s linear 0.25s;
}
body._screen .button__animation_redBorder:hover .button__line_4 {
  top: 100%;
  transition: all 0.5s linear 0.25s;
}
body._screen .button__animation_redBorder:hover {
  color: var(--main-red);
  transition: all 0.2s linear 0.6s;
}
.button__animation_dropEffect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.button__drop {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 211px;
  background: var(--main-red);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: parentDropEffect 1.5s ease-in 3s infinite alternate;
  z-index: -1;
}
.button__drop::after, .button__drop::before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background: var(--main-red);
  position: absolute;
  border-radius: inherit;
}
.button__drop_1::before {
  animation: dropEffect 3s ease-in 1.5s infinite;
}
.button__drop_2::before {
  animation: dropEffect 3s ease-in 2.5s infinite;
}
.button__drop_2::after {
  animation: dropEffect 3s ease-in 3s infinite;
}
.button__drop_1::after {
  animation: dropEffect 3s ease-in 4s infinite;
}
@keyframes dropEffect {
  0% {
    opacity: 0.2;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes parentDropEffect {
  100% {
    background: rgb(211, 46, 73);
    transform: scale(1.1);
  }
}
.button_icon_arrow {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.button_icon_arrow::before, .button_icon_arrow::after {
  content: "";
  display: block;
  width: 18px;
  border-radius: 30px;
  height: 5px;
  position: absolute;
  background: var(--blue-background);
}
.button_icon_arrow.disabled {
  pointer-events: none;
}
.button_icon_arrowLeft::before {
  transform: translate(0, 5px) rotate(45deg);
}
.button_icon_arrowLeft::after {
  transform: translate(0, -5px) rotate(-45deg);
}
.button_icon_arrowRight::before {
  transform: translate(0, 5px) rotate(-45deg);
}
.button_icon_arrowRight::after {
  transform: translate(0, -5px) rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
